@import "global.css";
  
  /* ===========hero-section============ */
  #hero {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0.7rem;
  }
  #hero .content {
    margin: 1.5rem;
  }
  #hero .content h1 {
    font-size: 3.5rem;
  
    color: var(--matte-white);
  }
  
  #hero .content .explore {
    font-size: 1.5rem;
    width: auto;
    color: var(--matte-white);
    text-decoration: none;
    background-color: var(--matte-lemon);
    margin-top: 2rem;
    padding: 10px 20px;
    border-style: none;
    color: var(--matte-black);
    background-color: var(--matte-white);
    font-weight: 520;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #hero .content .explore:hover {
    background-color: var(--matte-lemon);
  }
  #hero img {
    margin: 1.4rem;
    width: 100%;
    max-width: 550px;
  }
  
  /* ==============media hero============ */
  
  @media (max-width: 900px) {
    #hero {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    #hero .content h1 {
      font-size: 2.3rem;
    }
    #hero img {
      width: 450px;
    }
    #hero .content .explore {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 400px) {
    #hero img {
      width: 300px;
    }
  }
  /* ==============how we work============== */
  #how-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.7rem;
    padding: 2rem;
  }
  
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    width: 250px;
    border-bottom: 3px solid var(--matte-lemon);
    color: var(--matte-white);
    background-color: rgb(51, 51, 51);
    padding: 1.5rem;
    text-align: center;
    gap: 1rem;
  }
  .work h3 {
    color: var(--matte-lemon);
  }
  .work h4 {
    font-size: 1.5rem;
  }
   a {
    color: var(--matte-lemon);
  }
  
  /* =============video============== */
  h3 {
    font-size: 2.5rem;
    color: var(--matte-white);
  }
  #important {
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #important > iframe {
    max-width: 560px;
    width: 100%;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #important #video:hover {
    -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
            transform: scale(1.06);
  }
  @media (max-width: 750px) {
    h3 {
      font-size: 2rem;
    }
  }
  
  /* ================contact us=============== */
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #contact p {
    font-size: 1.5rem;
    color: var(--matte-lemon);
    text-align: center;
    margin: 7px;
    margin-bottom: 28px;
  }
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    margin: 2rem;
  }
  #email {
    font-size: 1.5rem;
    height: 70x;
    outline: none;
    border: none;
    padding: 15px 7px;
    border-radius: 5px;
  }
  .sub-btn {
    border-style: none;
    font-size: 1.5rem;
    width: auto;
    padding: 10px 20px;
    background: var(--matte-white);
    color: var(--matte-black);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
  }
  .sub-btn:hover {
    background-color: var(--matte-lemon);
  }
  
  @media (max-width: 750px) {
    #form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 1.5rem;
    }
  }